.details-card-flex {
    display: flex;
    flex-direction: column;
    width: 22rem;
    margin: 50px auto 30px auto;
    border: 1px solid gainsboro;
    border-radius: 5px;
}

.details-card-flex img{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.details-card-flex h2{
    text-transform: capitalize;
}

.details-card-flex p{
    text-align: justify;
}

.details-card-flex .price-add{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.details-card-flex .price-add p{
    font-size: 20px;
    margin: 0px;
}
.coments{
    width: 22rem;
    margin: 0px auto;
    border: 1px solid gainsboro;
    border-radius: 5px;
}

.user-coment{
    width: 100%;
    height: 100px;
}

@media (min-width: 1400px) {
    .details-card-flex {
        display: flex;
        flex-direction: row;
        width: 60%;
    }

    .details-card-flex img{
        border-top-left-radius: 5px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 5px;
        width: 350px;
    }

    .coments{
    width: 60%;
}
}